.l_menu {width: 250px; position: absolute; left:0; top:90px;}
.l_menu_fix {position: fixed; top:0}
.l_menu ul.nav {border-top: 1px solid #E7E7E7; position: relative; top: -41px}
.l_menu ul.nav li {background: #F8F8F8; border-bottom: 1px solid #E7E7E7}
.l_menu ul.nav li a {color:#000}
.l_menu ul.nav li a i {margin: 0 7px 0 0}
.l_menu ul.nav li.active {}
.l_menu ul.nav li.active a {text-decoration: underline}
.m_content {width: 100%}
.m_content .content {margin-left: 250px}
#lbg {width: 250px; background: #eee; position: fixed; left:0; top:0; height: 100%}
.sbtBox {padding: 0 10px}
.breadcrumb { border-radius: 0; padding: 9px 0 9px 280px; margin-bottom: 0}
.boxFilters {position: relative; padding: 20px 0 0 10px;}
.boxFilters_fix {position: fixed; top:0; right: 0}
.boxFilters .col {width: 200px; overflow: hidden; float:left;margin:0 10px;}
.boxFilters .col-btn {padding-top: 23px}

.view_max_image {}
.view_max_image img {max-width: 200px}

